<template>
  <div class="container rounded-lg mx-auto shadow-lg min-h-content relative pb-32" ref="details"
       style="background: url('https://t4.ftcdn.net/jpg/02/00/54/45/360_F_200544544_ON8u0Ov3X3uQPmpxbaZNFsUaXto1btjp.jpg') bottom center no-repeat;
              background-size: contain">
    <div class="relative h-card">
      <div class="absolute top-12 left-1/2 transform -translate-x-1/2 w-11/12 h-112 custom-shadow"
           style="background: url('https://neilpatel.com/wp-content/uploads/2017/09/image-editing-tools.jpg') center center no-repeat;
                         background-size: cover"></div>
    </div>

    <div class="w-11/12">
      <div class="w-full py-4" v-if="message">
        <p class="text-right text-gray-400 text-2xl">
          <i class="far fa-check-circle text-green-400"></i> {{ message }}
        </p>
      </div>
      <div class="actions flex justify-end space-x-4" v-if="post.isOwner">
        <p class="cursor-pointer"><a @click.prevent="isEditing = true"><i class="fas fa-pen"></i></a></p>
        <p class="cursor-pointer"><a @click.prevent="isDeleting = true"><i class="fas fa-eraser"></i></a></p>
      </div>
    </div>

    <edit-post v-if="isEditing"
               :post="post"
               @editedPost="updatePage"
               @cancelled="isEditing = false"></edit-post>

    <delete-post v-if="isDeleting"
               :post="post"
               @deletedPost="reloadPage"
               @cancelled="isDeleting = false"></delete-post>

    <div class="w-11/12 h-auto text-center mx-auto">
      <div class="font-serif font-extrabold text-3xl tracking-wide"><h1>{{ post.title }}</h1></div>
      <div class="text-xs font-sans font-extralight tracking-wider">{{ post.owner }} •
        {{ post.createdAt | shortDate }}
      </div>

      <div class="p-8 text-lg w-9/12 mx-auto relative">
          {{ post.body }}
      </div>

      <div class="p-8 text-lg w-9/12 mx-auto flex space-x-4" v-if="post.id">
        <like :post="post"></like>
        <comment :post="post"></comment>
        <share :post="post"></share>
      </div>

      <div class="px-8 text-left w-full md:w-9/12 mx-auto">
        <div class="">
          <create-comment :post="post" @addedComment="getPost"></create-comment>
        </div>
        <comments :post="post"></comments>
      </div>
    </div>

  </div>
</template>

<script>
import filters from "../../helpers/filters";

export default {
  name: 'ActivePost',
  mixins: [filters],
  data() {
    return {
      post: {},
      isEditing: false,
      isDeleting: false,
      message: ''
    }
  },
  mounted() {
    this.getPost()
  },
  methods: {
    getPost() {
      axios.get(`/api/posts/post`)
        .then(({data}) => {
          this.post = data.data[0]
        }).catch(e => {
      })
    },
    reloadPage(message) {
      this.isDeleting = false
      this.message = message
      setTimeout(() => {
        window.location.href = '/home'
      }, 1000)
    },
    updatePage(message) {
      this.isEditing = false
      this.message = message
      this.getPost()
    }
  }
}
</script>

<style>
.actions p a {
  @apply w-14 h-14 block text-center my-0 mx-2.5 rounded-full p-1.5 box-border duration-500 bg-gradient-to-b from-white to-button;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
}

.actions p a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.actions p a .fas {
  @apply w-full h-full block rounded-full text-2xl duration-500 bg-gradient-to-t from-white to-button text-gray-800;
  line-height: calc(60px - 12px);
  /*    line height cal is based on width and padding of ul*/
}
</style>
