<template>
  <div>
    <div v-if="isWriting">
      <div class="fixed z-10 inset-0 overflow-y-auto">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

          <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
          </div>

          <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

          <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
            role="dialog" aria-modal="true" aria-labelledby="modal-headline">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">

              <h2 class="font-serif text-2xl text-gray-800">Write New Post</h2>

              <input type="text" v-model="title" placeholder="Title"
                     class="px-4 py-2 w-full rounded-lg my-2 shadow-lg focus:outline-none bg-gradient-to-b from-gray-50 to-main"
                >
              <p class="text-red-400 text-xs m-2" v-if="errors.has('title')">{{ errors.get('title') }}</p>

               <textarea id="post"
                         type="text"
                         name="post"
                         class="px-4 py-2 w-full rounded-t-lg rounded-bl-lg shadow-lg focus:outline-none bg-gradient-to-b from-gray-50 to-main"
                         placeholder="Write new post"
                         v-model="post"
                         :rows="row"
                         @keyup.enter="addRow"
               ></textarea>
              <p class="text-red-400 text-xs m-2" v-if="errors.has('body')">{{ errors.get('body') }}</p>
            </div>

            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
              <button class="custom-btn w-20" @click="submit">
                <span> Submit</span>
              </button>

              <button class="custom-btn w-20" @click="cancel">
                <span>Cancel</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full">
      <div class="relative mt-4 p-3 rounded-md mr-2">
        <textarea
          class="px-4 py-2 w-full rounded-t-3xl rounded-bl-3xl shadow-lg focus:outline-none bg-gradient-to-b from-gray-50 to-main border"
          placeholder="Write new post"
          readonly
          @click="isWriting = true"
        ></textarea>
      </div>

    </div>

  </div>
</template>

<script>
import Errors from '../../helpers/Errors'

export default {
  data() {
    return {
      post: '',
      title: '',
      row: 1,
      isWriting: false,
      errors: new Errors(),
    };
  },
  methods: {
    submit() {
      this.errors = new Errors()
      axios.post('/api/posts', {
        body: this.post,
        title: this.title
      }).then(() => {
        this.$store.dispatch('getProfilePosts')
        this.$store.dispatch('getPosts')
        this.isWriting = false
        this.post = ''
        this.title = ''
      }).catch(error => {
        this.errors.record(error.response.data.errors)
      });
    },
    cancel() {
      this.isWriting = false
      this.post = ''
      this.title = ''
      this.errors = new Errors()
    },
    addRow() {
      this.row++
    }
  }
};
</script>
