<template>
  <div>
    <div class="d-flex justify-content-start">
      <div class="ml-2">
        <p><a :href="`/users/${post.user.slug}`" v-text="post.user.name"></a></p>
        <small>{{ post.created_at | shortDate }}</small>
      </div>
    </div>
    <div class="mx-4">
      <div class="m-2">
        <p>{{ content | truncate500 }}</p>
      </div>

      <div class="pt-4 flex space-x-4 justify-end">
        <div class="flex font-serif font-semibold">
          <span class="mr-2 underline cursor-pointer" @click="seeLikers">{{ likesCount }}</span>
          <like :post="post" @liked="likesCount++" @unliked="likesCount--"></like>
        </div>

        <div class="flex font-serif font-semibold" @click="seePost">
          <span class="mr-2 underline cursor-pointer">{{ post.comments_count }}</span>
          <span class="cursor-pointer">
            <i v-if="hasCommented" class="fas fa-comment-dots text-one"></i>
            <i v-else class="far fa-comment-dots"></i>
        </span>
        </div>

        <div class="flex font-serif font-semibold">
          <span class="mr-2 underline cursor-pointer">{{ post.shares_count }}</span>
          <span class="cursor-pointer">
            <i v-if="isShared" class="fas fa-external-link-square-alt text-one"></i>
            <i v-else class="fas fa-external-link-alt"></i>
        </span>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import filters from "../../helpers/filters";

export default {
  name: 'ShowPost',
  props: ['post'],
  mixins: [filters],
  data() {
    return {
      content: this.post.body,
      isEditing: false,
    }
  },
  methods: {
    edit() {
      this.isEditing = true
    },
    cancel() {
      this.isEditing = false
    },
    update(post) {
      this.isEditing = false
      this.content = post
    },
    destroy() {
      axios.delete(`/posts/${this.post.id}`)
        .then(() => {
          this.$emit('deleted')
        })
    },
  }
}
</script>
