<template>
  <div class="grid grid-cols-12 gap-4 gap-y-8 w-full min-h-content h-card xl:h-64 min-w-content">
    <div v-for="(post, index) in posts" :key="post.id"
         class="col-span-12 sm:col-span-6"
         :class="showCard(index, 1) || showCard(index, 0) ? 'lg:col-span-6' : 'lg:col-span-3'">

      <card-one :post="post" v-if="showCard(index, 1)"></card-one>
      <card-four :post="post" v-if="showCard(index, 4)"></card-four>
      <card-five :post="post" v-if="showCard(index, 5)"></card-five>
      <card-biggest :post="post" v-if="showCard(index, 0)"></card-biggest>
      <card-default :post="post" v-if="showCard(index, 2) || showCard(index, 3)"></card-default>

    </div>
  </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  data() {
    return {

    }
  },
  computed: {
    ...mapState(['posts']),
  },
  methods: {
    showCard(index, expected) {
      return (index + 1) % 6 === expected;
    },
  }
}
</script>
