<template>
  <div>
    <div v-if="! post.isOwner && post.isShared">
      You have shared this post
    </div>

    <div class="ml-4">
      <p class="underline"><a :href="`/users/${post.ownerSlug}`" v-text="post.owner"></a></p>
      <small>{{ post.createdAt | shortDate }}</small>
    </div>

    <div class="mx-4">
      <div class="font-serif font-bold text-xl tracking-wide"><h1>{{ title }}</h1></div>
      <p>{{ body | truncate500 }}</p>
    </div>

    <div class="pt-4 flex space-x-4 justify-end">
      <like :post="post"></like>
      <comment :post="post"></comment>
      <share :post="post"></share>
      <a :href="`/posts/${post.id}`" class="cursor-pointer"><i class="far fa-eye text-gray-700"></i></a>
    </div>

  </div>
</template>

<script>
import filters from "../../helpers/filters";

export default {
  name: 'ShowPost',
  props: ['post'],
  mixins: [filters],
  data() {
    return {
      body: this.post.body,
      title: this.post.title,
      isEditing: false,
    }
  },
  methods: {
    edit() {
      this.isEditing = true
    },
    cancel() {
      this.isEditing = false
    },
    update(post) {
      this.isEditing = false
      this.content = post
    },
    destroy() {
      axios.delete(`/posts/${this.post.id}`)
        .then(() => {
          this.$emit('deleted')
        })
    },
  }
}
</script>
