<template>
  <div class="container">
    <div v-if="profilePosts.length === 0" class="text-gray-900 my-4">
      Nothing more to show.
    </div>

    <div v-if="profilePosts.length > 0">
      <h2 class="py-2 font-serif text-2xl">Posts</h2>
      <div class="post-card my-4 p-2" v-for="post in profilePosts" :key="post.id">
        <post :post="post"></post>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  data() {
    return {}
  },
  computed: {
    ...mapState(['profilePosts']),
  },
}
</script>
