<template>
    <ul class="actions flex justify-end">
        <li class="pb-4"><a href=""><i class="fas fa-pen"></i></a></li>
        <li><a href=""><i class="fas fa-eraser"></i></a></li>
    </ul>

</template>
<script>
 export default {
     name: 'Submit',
     data () {
         return {
         }
     }
 }
</script>

<style scoped>
ul.actions li a {
  @apply w-14 h-14 block text-center my-0 mx-2.5 rounded-full p-1.5 box-border duration-500 bg-gradient-to-b from-white to-button;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
}

ul.actions li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
}

ul.actions li a .fas {
  @apply w-full h-full block rounded-full text-2xl duration-500 bg-gradient-to-t from-white to-button text-gray-800;
    line-height: calc(60px - 12px);
    /*    line height cal is based on width and padding of ul*/
}
</style>
