<template>
    <div class="checkbox">
        <div class="inner" :class="isActive && 'active'" @click="isActive = ! isActive" >
            <div class="toggle" :class="isActive && 'left-11'">

            </div>
        </div>
    </div>
</template>
<script>
 export default {
     name: 'Toggle',
     data () {
         return {
             isActive: false
         }
     }
 }
</script>

<style scoped>
.checkbox {
    @apply absolute top-2/4 left-2/4 w-24 h-12 rounded-3xl;
    transform: translate(-50%, -50%);
    background: linear-gradient(0deg, #d8d8d8, #ccc);
    border-top: .02em solid #ececec;
    border-bottom: .02em solid #ececec;
}

.inner {
    @apply absolute inset-2.5 rounded-2xl;
    background: linear-gradient(0deg, #a5a5a5, #717171);
    box-shadow: inset 0 0 15px rgba(0,0,0,.5);
}

.toggle {
    @apply absolute -top-1 -left-1 w-9 h-9 rounded-full box-border duration-500;
    background: linear-gradient(0deg, #ccc, #e4e4e4);
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
    border-top: .04em solid #ececec;
    border-bottom: .04em solid #ececec;
}

.toggle:before {
    @apply absolute inset-1 rounded-full text-center text-xs leading-relaxed;
    content: 'OFF';
    background: linear-gradient(0deg, #e4e4e4, #ccc);
    color: #a9a9a9;
}

.active .toggle:before {
    content: 'ON';
    color: #00d22d;
}

.active {
    background: linear-gradient(0deg, #00d22d, #158a00);
}
</style>
