<template>
  <div>
    <div class="font-serif font-extrabold text-3xl tracking-wide"><h1>Comments</h1></div>
    <hr>

    <div v-if="displayedComments.length > 0">
      <div v-for="(comment, index) in post.comments">
        <div v-if="index < displayedComments">
          <comment-body :comment="comment"></comment-body>
        </div>
      </div>

      <div v-if="post.comments.length > displayedComments" @click="showMore" class="underline cursor-pointer">
        <p>View more comments</p>
      </div>
    </div>

    <div v-else>
      No comments to show.
    </div>
  </div>
</template>

<script>
export default {
  props: ['post'],
  data() {
    return {
      displayIncrements: 2,
      displayedComments: 2,
    }
  },
  methods: {
    showMore() {
      this.displayedComments += this.displayIncrements
    },
  },
}
</script>
