<template>
  <div class="my-4">
    <div class="">
      <div class="font-sans tracking-wider underline text-sm">{{ comment.user.name }}</div>
      <p>{{ comment.body }}</p>
    </div>

    <replies :comment="comment"></replies>

    <hr class="pb-4">
  </div>
</template>

<script>
import Replies from "../replies/Replies";
import filters from "../../helpers/filters";

export default {
  props: ['comment'],

  mixins: [filters],
  components: {Replies},
}
</script>
