<template>
  <div class="flex font-serif font-semibold">
    <span class="mr-2 underline cursor-pointer text-gray-500">{{ post.commentsCount }}</span>
    <a class="cursor-pointer" :href="`/posts/${post.id}`">
          <i v-if="post.hasCommented" class="fas fa-comment-dots animate"></i>
          <i v-else class="far fa-comment-dots text-gray-700"></i>
      </a>
  </div>
</template>

<script>
export default {
  props: ['post'],
  data() {
    return {
      hasCommented: this.post.hasCommented,
      commentsCount: this.post.commentsCount
    }
  },
}
</script>
