<template>
  <div class="my-4">
    <form @submit.prevent="submit">
      <div class="w-full flex">
        <div class="relative rounded-md mr-2 w-full">
              <textarea id="comment"
                        type="text"
                        name="comment"
                        class="w-full my-0 mx-2.5 rounded-lg px-2 box-border duration-500 bg-gradient-to-b from-white to-button focus:outline-none shadow-lg"
                        placeholder="Write new comment"
                        v-model="comment"
                        :rows="row"
                        @keyup.enter="addRow"
              ></textarea>
        </div>
        <button class="custom-btn w-20" v-if="comment"><span>Submit</span></button>

        <small class="text-red-600 mx-2" v-if="error">{{ error }}</small>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: ['post'],
  data() {
    return {
      comment: "",
      row: 2,
      error: ''
    };
  },
  methods: {
    submit() {
      axios.post(`/posts/${this.post.id}/comments`, {
        body: this.comment
      }).then(() => {
        this.comment = ''
        this.$emit('addedComment')
      })
    },
    addRow() {
      this.row++
    }
  }
};
</script>

<style scoped>

</style>
