.custom-nav-item {
    color: #282424;
    cursor: pointer;
    transition: 500ms;

    &:hover {
        color: deepskyblue;
        text-decoration: none;
        transition: 500ms;
    }

    &.active {
        color: deepskyblue;
        text-decoration: none;
        transition: 500ms;
    }
}


