.post-card {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.small-profile-picture {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: #1a202c;
    border: 2px inset whitesmoke;
    position: relative;
}
