.profile-picture {
    margin-top: -80%;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background: #1a202c;
    border: 2px inset whitesmoke;
    position: relative;
}

.upload-btn {
    position: absolute;
    bottom: 10px;
    right: 25px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f0f8ff3d;
    padding: 0 8px;
    cursor: pointer;
}

.profile-banner {
    width: 200px;
    height: 200px;
    background: #1a202c;
    border: 2px inset whitesmoke;
    position: relative;
}

.upload-banner-btn {
    position: absolute;
    bottom: 10px;
    right: 25px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f0f8ff3d;
    padding: 0 8px;
    cursor: pointer;
}
