<template>
  <div class="flex font-serif font-semibold">
    <span class="mr-2 underline cursor-pointer text-gray-500">{{ likesCount }}</span>
    <span class="cursor-pointer" @click="like">
        <i v-if="isLiked" class="fas fa-heart animate"></i>
        <i v-else class="far fa-heart text-gray-700"></i>
    </span>
  </div>
</template>

<script>
export default {
  props: ['post'],
  data() {
    return {
      isLiked: this.post.isLiked,
      likesCount: this.post.likesCount,
    }
  },
  methods: {
    like() {
      axios.post(`/api/posts/${this.post.id}/like`)
        .then(() => {
          this.isLiked = ! this.isLiked
          this.isLiked ? this.likesCount++ : this.likesCount--
        })
    },
  }
}
</script>


