<template>
  <div class="min-h-content h-card min-w-content bg-main relative shadow-lg">
    <div class="absolute top-8 w-full h-24 bg-gradient-to-b from-main to-gray1"></div>
<!--    <div class="absolute top-0 right-16 w-line h-full bg-gray-200"></div>-->
<!--    <div class="absolute top-0 right-20 w-line h-full bg-gray-300"></div>-->
    <div class="absolute top-12 left-1/2 transform -translate-x-1/2 w-44 md:w-80 h-52 bg-transparent shadow-sm">
      <div class="relative">
        <div class="absolute top-2 left-2 w-40 md:w-76 h-48 bg-gray-900"
             :style="`background: url('${post.image}') center center no-repeat;
                    background-size: cover`"></div>
      </div>
    </div>
    <div class="absolute top-64 w-full px-4 pb-4">
      <post-details :post="post" :biggest="true"></post-details>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardOne',
  props: ['post']
}
</script>
