<template>
    <div class="w-full min-h-content h-card xl:h-64 min-w-content bg-main relative shadow-lg">
        <div class="absolute top-0 left-40 w-line h-12 bg-gray-400"></div>
        <div class="absolute top-0 left-44 w-line h-12 bg-gray-300"></div>
        <div class="absolute top-8 w-32 h-52 bg-gradient-to-r from-gray1 to-gray2"></div>
        <div class="absolute top-8 left-4 w-52 h-52 bg-gray-900 rounded-full"
        :style="`background: url('${post.image}') center center no-repeat;
                      background-size: cover`"></div>
        <div class="absolute top-64 xl:top-0 xl:left-64 px-4 py-4 w-full xl:w-6/12">
            <post-details :post="post"></post-details>
        </div>
    </div>

</template>

<script>
export default {
    name: 'CardOne',
    props: ['post']
}
</script>
