<template>
  <div class="min-h-content h-card min-w-content bg-main relative shadow-lg overflow-hidden">
        <div class="absolute top-0 left-0 w-full h-32"
             style="background: url('https://image.freepik.com/free-vector/gray-white-gradient-abstract-background_53876-62182.jpg') center center no-repeat;
                    background-size: cover"></div>

        <div class="absolute top-12 -right-2 w-full h-52 bg-transparent">
            <div class="relative">
                <div class="absolute top-2 left-2 w-full h-48 bg-gray-900"
                     :style="`background: url('${post.image}') center center no-repeat;
                    background-size: cover`"></div>
            </div>
        </div>

        <div class="absolute top-64 w-full px-4 pb-4">
            <post-details :post="post"></post-details>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CardFive',
    props: ['post']
}
</script>

