<template>
  <div class="w-full min-h-content h-card xl:h-64 min-w-content bg-transparent relative">
    <div class="xl:hidden">
      <div class="bg-gray-900 h-72 w-full xl:hidden"
           :style="`background: url('${post.image}') center center no-repeat;
                    background-size: cover`"
      ></div>

      <div class="absolute top-56 left-2 w-11/12 h-52 bg-transparent border border-gray-300">
        <div class="relative">
          <div class="absolute top-2 left-2 w-full h-64 bg-gradient-to-b from-main to-gray1 pt-4 px-2">
            <post-details :post="post"></post-details>
          </div>
        </div>
      </div>
    </div>

    <div class="w-11/12 h-60 bg-gray-50 border border-gray-50 hidden xl:block">
      <div class="relative">
        <div class="m-4 w-full h-64 bg-gradient-to-b from-main to-gray1 pt-4 px-2 shadow-lg">
          <post-details :post="post"></post-details>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardDefault',
  props: ['post']
}
</script>

<style>

</style>
