<template>
  <div class="min-h-content h-card min-w-content bg-main relative shadow-lg overflow-hidden">
        <div class="absolute top-60 w-full h-line bg-gray-300"></div>
        <div class="absolute top-32 right-16 w-full h-56 bg-gradient-to-b from-main to-gray1"></div>
<!--        <div class="absolute top-20 w-full h-line bg-gray-300"></div>-->
<!--        <div class="absolute top-24 w-full h-line bg-gray-200"></div>-->

        <div class="absolute top-12 -right-2 w-44 h-44 bg-transparent">
            <div class="relative">
                <div class="absolute top-2 left-2 w-40 h-40 bg-gray-900"
                     :style="`background: url('${post.image}') center center no-repeat;
                    background-size: cover`"></div>
            </div>
        </div>

        <div class="absolute top-64 w-full px-4 pb-4">
            <post-details :post="post"></post-details>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CardSix',
    props: ['post']
}
</script>

<style>
.line {
  background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
}
</style>
