<template>
  <div>
      <div class="text-center text-gray-700">
        <div class="font-extrabold text-2xl tracking-wide font-serif post-title"><h1>{{ post.title }}</h1></div>
        <div class="tracking-tighter h-24 text-gray-500" v-if="biggest">
          {{ post.body | truncate300 }}
        </div>
        <div class="tracking-tighter h-24 text-gray-500" v-else>
          {{ post.body | truncate }}
        </div>
      </div>

      <div class="tracking-tight text-sm text-right pt-4 text-gray-600">
        <div class="font-semibold underline"><a :href="`/users/${post.ownerSlug}`">{{ post.owner }}</a></div>
        <div class="text-xs">{{ post.createdAt | shortDate }}</div>
      </div>

      <div class="pt-4 flex space-x-4 justify-end">
        <like :post="post"></like>
        <comment :post="post"></comment>
        <share :post="post"></share>
        <a :href="`/posts/${post.id}`" class="cursor-pointer"><i class="far fa-eye text-gray-700"></i></a>
      </div>

  </div>
</template>

<script>
import filters from "../../helpers/filters";

export default {
  name: 'PostDetails',
  //props: ['post',],
  props: {
    post: {
      type: Object,
    },
    biggest: {
      type: Boolean,
      default: false,
    }
  },
  mixins: [filters],
  data() {
    return {

    }
  },
  methods: {
    seeLikers () {
      //pop up to see who likes this post
    },
   }
}
</script>

<style>
.animate {
  color: #374151;
  animation: beat 500ms linear;
}

@keyframes beat {
  0%    {
    text-shadow: 0 0 0 #5454a7,
                 0 0 0 #F72585,
                 0 0 0 #7209B7;
    color: #480CA8;
  }
  7%    {
    text-shadow:
      0 0 3px #5454a7,
      0 0 4px #F72585,
      0 0 5px  #b08ec6;
    color: #374151;
  }
}
</style>
