<template>
  <div class="container">
    <div class="w-7/12 mx-auto p-12">

      <form @submit.prevent="submit">
        <text-input
          :name="'nickname'"
          :value="nickname"
          :label="'Nickname'"
          @update:value="nickname = $event"
        />

        <text-input
          :name="'city'"
          :value="city"
          :label="'City'"
          @update:value="city = $event"
        />

        <text-input
          :name="'province'"
          :value="province"
          :label="'Province'"
          @update:value="province = $event"
        />

        <text-input
          :name="'mobile'"
          :value="mobile"
          :label="'Mobile'"
          @update:value="mobile = $event"
        />

        <transition name="fade">
          <div v-show="message" class="alert alert-success text-center mx-auto" role="alert">
            {{ message }}
          </div>
        </transition>

        <div class="my-4">
          <button type="submit" class="custom-btn w-20"><span>Submit</span></button>
        </div>

      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ['profile'],
  data() {
    return {
      nickname: this.profile.nickname,
      birthday: this.profile.birthday,
      city: this.profile.city,
      province: this.profile.province,
      mobile: this.profile.mobile,
      message: ""
    }
  },
  methods: {
    submit() {
      axios.put(`/profile/${this.profile.id}`, {
        nickname: this.nickname,
        birthday: this.birthday,
        city: this.city,
        province: this.province,
        mobile: this.mobile,
      }).then(() => {
        this.message = 'Your profile has been updated'
        setTimeout(() => {
          this.message = "";
        }, 2000);
      })
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}
</style>
