@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus-within ~ label {
    @apply transform scale-y-75 -translate-y-6 tracking-tighter text-gray-800 px-1;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
    @apply transform scale-y-75 -translate-y-6 tracking-tighter text-gray-800 px-1;
}

input:focus-within ~ label {
    @apply text-gray-800;
}

.custom-shadow {
    box-shadow: 0 -15px 15px rgba(255,255,255,.05),
                inset 0 -15px 15px rgba(255,255,255.05),
                0 15px 15px rgba(0,0,0,.3),
                inset 0 15px 14px rgba(0,0,0,.3);
}

.custom-input {
    @apply w-7/12 h-14 block text-center my-0 mx-2.5 rounded-full p-1.5 box-border duration-500 bg-gradient-to-b from-white to-button;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
}

.custom-btn {
    @apply h-14 block text-center my-0 mx-2.5 rounded-full p-1.5 box-border duration-500 bg-gradient-to-b from-white to-button;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
}

.custom-btn span:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
}

.custom-btn span {
    @apply w-full h-full block rounded-full text-xs duration-500 bg-gradient-to-t from-white to-button text-gray-800;
    line-height: calc(60px - 12px);
    /*    line height cal is based on width and padding of ul*/
}

.cstm-title {
    @apply text-transparent bg-one;
    text-shadow: 2px 2px 4px rgba(255,255,255,.75);
    background-clip: text;
}

.name {
    color:transparent;
    background: rgb(81, 63, 28);
    text-shadow: 2px 2px 4px rgba(255,255,255,.75);
    background-clip: text;
}
