<template>
  <div class="col-span-12 sm:col-span-6 w-full">
    <div class="mx-auto p-4 md:p-20 rounded-sm shadow-md relative">
      <div class="md:flex">

        <div class="w-full p-4 rounded-sm relative">
          <div class="h-32 w-32 custom-shadow rounded-full mx-auto"
               :style="`background: url('${image}') center center no-repeat;
                      background-size: cover`"></div>
        </div>

        <div class="w-full mt-4 z-10 text-center sm:text-left">
          <h1 class="font-semibold text-4xl tracking-tight name h-20 font-cursive">{{ friend.name }}</h1>

          <div class="tracking-tight text-sm pt-4">
            <div class="font-semibold text-gray-400">DESIGNATION</div>
            <div class="font-semibold text-gray-400">Member since {{ friend.created_at | date }}</div>

            <div class="flex space-x-8">
              <a  :href="`/users/${friend.slug}`" class="custom-btn group" @click="unfriend">
                <span class="btn-text ">Visit page</span>
              </a>
              <button class="custom-btn group" @click="unfriend">
                <span class="btn-text ">Unfriend</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import filters from "../helpers/filters";

export default {
  props: ['friend', 'image'],
  data() {
    return {}
  },
  mixins: [filters],
  methods: {
    unfriend() {
      axios.delete(`/friends/${this.friend.slug}`).then(() => {
        window.location.reload()
      })
    }
  }
}
</script>

<style scoped>
.custom-btn {
  @apply relative text-center block w-24 h-14 my-4 rounded-full p-1.5 box-border duration-500;
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  background: linear-gradient(0deg, #ddd, #fff);
}

.custom-btn:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
}

.custom-btn span {
  @apply w-full h-full block rounded-full text-xs duration-500;
  background: linear-gradient(0deg, #fff, #ddd);
  line-height: calc(60px - 12px);
  /*    line height cal is based on width and padding of ul*/
  color: #262626;
}
</style>
