<template>
  <div class="mt-6 w-full">
    <div class="relative p-2 border-b border-accent bg-transparent">
      <input :id="name"
             type="text"
             :name="name"
             :value="value"
             class="block w-full appearance-none focus:outline-none bg-transparent text-black"
             :placeholder="placeholder"
             @input="$emit('update:value', $event.target.value)"
      >
      <label :for="name" class="absolute top-3 duration-300 text-gray-400">{{ label }}</label>
    </div>
    <p class="text-red-400 text-xs m-2" v-if="error">{{ error }}</p>
  </div>
</template>

<script>
export default {
  name: 'TextInput',
  props: {
    name: {
      type: String,
      default: ''
    },
    value: {
      // type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ' ',
    },
    label: {
      type: String,
      default: '',
    },
    error: {
      type: String,
      default: '',
    }
  },
  data () {
    return {
    }
  }
}
</script>
