<template>
    <div class="flex font-serif font-semibold">
      <span class="mr-2 underline cursor-pointer text-gray-500">{{ post.sharesCount }}</span>
      <span v-if="post.isShared">
          <i class="fas fa-external-link-square-alt animate"></i>
      </span>

      <span class="cursor-pointer" @click="share" v-else title="share">
          <i class="fas fa-external-link-alt text-gray-700"></i>
      </span>
    </div>
</template>

<script>
export default {
  props: ['post'],
  data() {
    return {
      isShared: this.post.isShared,
      sharesCount: this.post.sharesCount
    }
  },
  methods: {
    share() {
      axios.post(`/api/posts/${this.post.id}/share`)
        .then(({data}) => {
          this.shared = true
          this.$store.dispatch('getProfilePosts')
          this.$store.dispatch('getPosts')
        })
    },
  }
}
</script>
