<template>
    <div class="col-span-12 sm:col-span-6 lg:col-span-3 mx-auto shadow-lg w-64 min-h-content h-card min-w-content bg-main relative overflow-hidden">
        <div class="bg-gray-900 h-72 w-full"
             style="background: url('https://static.wikia.nocookie.net/058f2a6c-7690-4d7f-9e16-5d9477461fff') center center no-repeat;
                    background-size: cover"
        ></div>

        <div class="absolute top-56 left-2 w-10/12 h-52 bg-transparent border border-gold">
            <div class="relative">
                <div class="absolute top-2 left-2 w-56 h-64 bg-gradient-to-b from-gradient to-three pt-4 px-2">
                    <post-details :post="post"></post-details>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CardThree',
    props: ['post']
}
</script>

<style>

</style>
