<template>
    <div class="col-span-12 sm:col-span-6 lg:col-span-3 mx-auto shadow-lg w-64 min-h-content h-card min-w-content bg-main relative">
        <div class="absolute top-0 left-40 w-line h-12 bg-one"></div>
        <div class="absolute top-0 left-44 w-line h-12 bg-two"></div>
        <div class="absolute top-8 w-32 h-52 bg-gradient-to-r from-two to-accent"></div>
        <div class="absolute top-8 left-4 w-52 h-52 bg-gray-900 rounded-full border border-gold"
        style="background: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg') center center no-repeat;
                      background-size: cover"></div>
        <div class="absolute top-64 w-64 px-4 pb-4">
            <post-details :post="post"></post-details>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CardOne',
    props: ['post']
}
</script>
