<template>
    <div class="col-span-12 sm:col-span-6 lg:col-span-3 mx-auto shadow-lg w-64 min-h-content h-card min-w-content bg-main relative overflow-hidden">
        <div class="absolute top-60 w-full h-line bg-two"></div>
        <div class="absolute top-32 right-16 w-full h-56 bg-gradient-to-b from-two to-three"></div>
        <div class="absolute top-30 w-full h-line bg-accent"></div>

        <div class="absolute top-12 -right-2 w-44 h-44 bg-transparent border border-gold">
            <div class="relative">
                <div class="absolute top-2 left-2 w-40 h-40 bg-gray-900"
                     style="background: url('https://media3.s-nbcnews.com/j/newscms/2019_41/3047866/191010-japan-stalker-mc-1121_06b4c20bbf96a51dc8663f334404a899.fit-760w.JPG') center center no-repeat;
                      background-size: cover"></div>
            </div>
        </div>

        <div class="absolute top-64 w-64 px-4 pb-4">
            <post-details :post="post"></post-details>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CardSix',
    props: ['post']
}
</script>

<style>
.line {
  background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
}
</style>
