<template>
    <div class="col-span-12 sm:col-span-6 lg:col-span-3 mx-auto shadow-lg w-64 min-h-content h-card min-w-content bg-main relative">
        <div class="absolute top-32 w-full h-line bg-two"></div>
        <div class="absolute top-36 w-full h-line bg-one"></div>

        <div class="absolute top-8 right-0 w-32 h-52 bg-gradient-to-r from-accent to-two"></div>
        <div class="absolute top-8 left-4 w-52 h-52 bg-gray-900 rounded-full"
             style="background: url('https://neilpatel.com/wp-content/uploads/2017/09/image-editing-tools.jpg') center center no-repeat;
                      background-size: cover"></div>
        <div class="absolute top-64 w-64 px-4 pb-4">
            <post-details :post="post"></post-details>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CardSeven',
    props: ['post']
}
</script>
