<template>
    <div class="col-span-12 sm:col-span-6 lg:col-span-3 mx-auto shadow-lg w-64 min-h-content h-card min-w-content bg-main relative">
        <div class="absolute top-16 w-full h-24 bg-gradient-to-l from-three to-accent"></div>
        <div class="absolute top-44 w-full h-line bg-accent z-0"></div>
        <div class="absolute top-12 left-4 w-56 h-52 bg-transparent border border-two">
            <div class="relative">
                <div class="absolute top-2 left-2 w-52 h-48 bg-gray-900"
                     style="background: url('https://neilpatel.com/wp-content/uploads/2017/09/image-editing-tools.jpg') center center no-repeat;
                      background-size: cover"></div>
            </div>
        </div>
        <div class="absolute top-64 w-64 px-4 pb-4">
            <post-details :post="post"></post-details>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CardOne',
    props: ['post']
}
</script>
