<template>
    <div class="col-span-12 sm:col-span-6 lg:col-span-3 mx-auto shadow-lg w-64 min-h-content h-card min-w-content bg-main relative overflow-hidden">
        <div class="absolute top-0 left-0 w-6/12 h-32 bg-gradient-to-b from-one to-accent"></div>

        <div class="absolute top-12 -right-2 w-11/12 h-52 bg-transparent border border-two">
            <div class="relative">
                <div class="absolute top-2 left-2 w-full h-48 bg-gray-900"
                     style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxQj1ii5I3JW0fhYoMrjCOwSDT4gz969fQKQ&usqp=CAU') center center no-repeat;
                      background-size: cover"></div>
            </div>
        </div>

        <div class="absolute top-64 w-64 px-4 pb-4">
            <post-details :post="post"></post-details>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CardFive',
    props: ['post']
}
</script>
