<template>
    <div class="col-span-12 sm:col-span-6 lg:col-span-3 mx-auto shadow-lg w-64 min-h-content h-card min-w-content bg-main relative overflow-hidden">
        <div class="absolute top-32 left-16 w-full h-56 bg-gradient-to-r from-gradient to-accent"></div>
        <div class="absolute top-30 w-full h-line bg-accent"></div>


        <div class="absolute top-12 -left-2 w-44 h-44 bg-transparent border border-two">
            <div class="relative">
                <div class="absolute top-2 left-2 w-40 h-40 bg-gray-900"
                     style="background: url('https://static.remove.bg/remove-bg-web/71dbdf11b48cb655eefe2f609ad67295258ae141/assets/start-0e837dcc57769db2306d8d659f53555feb500b3c5d456879b9c843d1872e7baa.jpg') center center no-repeat;
                      background-size: cover"></div>
            </div>
        </div>

        <div class="absolute top-64 w-64 px-4 pb-4">
            <post-details :post="post"></post-details>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CardThree',
    props: ['post']
}
</script>

<style>

</style>
