<template>
  <div class="my-4">
    <form @submit.prevent="submit">
      <div class="w-full flex">
        <div class="relative rounded-md mr-2 w-full">
              <textarea id="reply"
                        type="text"
                        name="reply"
                        class="w-full pt-1 my-2 mx-2.5 rounded-lg px-2 box-border duration-500 bg-gradient-to-b from-white to-button focus:outline-none shadow-lg"
                        :placeholder="`Reply to ${comment.user.name}...`"
                        v-model="reply"
                        :rows="row"
                        @keyup.enter="addRow"
              ></textarea>
        </div>
        <button class="custom-btn w-20" v-if="reply"><span>Submit</span></button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: ['comment'],
  data() {
    return {
      isReplying: false,
      reply: "",
      row: 1,
    };
  },
  methods: {
    submit() {
      axios.post(`/comments/${this.comment.id}/reply`, {
        body: this.reply
      }).then(() => {
        this.reply = ''
        this.isReplying = false
        this.$emit('addedReply')
      })
    },
    addRow() {
      this.row++
    }
  }
};
</script>

<style scoped>
.custom-input {
  @apply relative px-4 h-12 w-full rounded-3xl shadow-lg focus:outline-none bg-gradient-to-b from-grey to-eleven;
}
</style>
