<template>
  <div class="m-4">

    <create :comment="comment" @addedReply="getReplies"></create>

    <div v-if="displayedReplies.length > 0" class="font-serif font-extrabold text-xl tracking-wide ml-4"><h1>Replies</h1></div>

    <div v-for="reply in displayedReplies">
      <reply :reply="reply"></reply>
    </div>

   <p class="p-4">
     <a class="underline cursor-pointer" @click="showMore()"
        v-show="repliesLeftToDisplay > 0">
       View {{ repliesLeftToDisplay }} more {{ repliesLeftToDisplay > 1 ? 'replies' : 'reply' }}
     </a>
   </p>

  </div>
</template>

<script>
import Reply from "./Reply";
import Create from "../replies/Create";

export default {
  props: ['comment'],
  data() {
    return {
      replies: [],
      displayIncrements: 1,
    };
  },
  mounted() {
    this.getReplies()
  },
  components: {Reply, Create},
  methods: {
    getReplies() {
      axios.get(`/comments/${this.comment.id}`).then(({data}) => {
        this.replies = data
      })
    },
    showMore() {
      this.displayIncrements = this.replies.length
    },
  },
  computed: {
    displayedReplies() {
      return this.replies.slice(0, this.displayIncrements);
    },
    repliesLeftToDisplay() {
      return this.replies.length - this.displayedReplies.length
    }
  },
};
</script>
