<template>
  <div class="mt-3">
    <div class="ml-4 underline text-sm">
      <a :href="`/users/${reply.user.slug}`" v-text="reply.user.name"></a>
    </div>

    <div class="mx-4">
        <p>{{ reply.body }}</p>
    </div>
  </div>
</template>

<script>
import filters from "../../helpers/filters";

export default {
  props: ['reply'],
  data() {
    return {
      profilePhoto: ''
    }
  },
  mixins: [filters],
}
</script>
